/*  your css code here. If applicable */
 body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
       background-color: #ffffff;
      }
        #line{
        border: 1px solid #000000;
        width: 200px;
       
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin:center;
       }